:root {
}
body {
  padding: 0;
  margin: 0px;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  background: #fcfcfc;
}
nav {
  position: fixed;
  top: 0;
  z-index: 190;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: #fbfcfd;
  box-shadow: 0px 0px 10px #868ea331;
  border-bottom: 2px solid #e3e8f4;
}
.hero {
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 82px;
  position: relative;
}

.hero-body {
  margin: 68px 0px;
  position: relative;
}
.hero-title {
  text-align: center;
  width: 70%;
  color: #24335a;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 96px;

  margin: auto;
  transition: all 0.3s;
  margin-top: -20px;
  text-align: center;
  font-size: 62px;
}
.hero-title span {
  color: #a9caf8;
  font-weight: 800;
  background: -webkit-linear-gradient(95deg, #6ba1ed, #7aa1e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 15px;
}
.hero-text {
  width: 55%;
  max-width: 750px;
  margin: auto;
  margin-top: 30px;
  font-weight: 500;
  text-align: center;
  color: #868ea3;
  line-height: 1.8;
  font-size: 18px;
}
.about-content {
  display: flex;
  flex-direction: column;

  text-decoration: none;
  -webkit-box-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
  color: rgb(8, 27, 75);
  display: flex;
  font-weight: 600;
  margin: 20px;
  width: 95vw;
  min-height: 350px;
  max-width: 245px;
  padding: 14px;
}
.about-text {
  font-weight: 500;

  color: #868ea3;
  line-height: 1.8;
  font-size: 18px;
}
.hero-btn-icon {
  width: 28px;
  height: 28px;
  margin-right: 14px;
}
.hero-cta-box {
  display: flex;
  margin: auto;
  margin-top: 55px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  max-width: 580px;
}
.email-link {
  margin-left: 8px;
  color: #24335a;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 400;
  /* background: #c8dfff; */
  /* background-image: linear-gradient(95deg, #a9caf8, #24335a); */
}
.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 55px;
  min-height: 500px;
  padding-bottom: 55px;
}
.about-section {
  width: 50%;
  max-width: 500px;
  display: flex;
  padding: 25px;
  flex-direction: column;
}
.about-section h2 {
  text-align: left;
}
.secondary-title {
  color: rgb(8, 27, 75);
  font-size: 38px;
  font-weight: 600;
  margin: 0px;
  letter-spacing: -1px;
  text-align: center;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  padding-top: 80px;
}
.project-hero-title {
  color: rgb(8, 27, 75);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 110%;
  margin: 0px auto;
  margin-bottom: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.project-hero-para {
  text-align: center;
  margin: 0px;
  color: #868ea3;
  width: 90%;
  font-weight: 500;
  max-width: 800px;
}
.project-img {
  width: 100%;
  height: 150px;
  background: whitesmoke;
}
.nav-header-info {
  display: flex;
  width: 100%;

  align-items: center;
}
.max-container {
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;

  margin: 0px auto;
  max-width: 82rem;
  width: 100%;
}
.nav-header-text {
  display: flex;
  justify-content: space-evenly;

  font-size: 14px;
  font-weight: 700;

  color: #24335a;
}
.nav-header-social-cont {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}
.social-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.social-element-icon {
  width: 90%;
  height: 90%;
}
.nav-link-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 14px;
}
.web-nav-menu {
  border-left: 2px solid #e3e8f4;

  display: flex;
  margin-left: 30px;
  padding-left: 10px;
  width: 100%;
  height: 20px;
  align-items: center;
}
.mobile-nav-menu {
  width: 50%;
  display: none;
}
.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  width: 65px;

  margin-left: 50px;
}
.skills-top {
  background-color: rgb(249, 250, 254);
  background-image: url(wave-top.svg);
  display: flex;
  background-blend-mode: multiply;
  height: 64px;
  overflow: hidden;
  width: 100%;
}

.skills-content {
  background: #c8dfff99;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 50px;
  overflow: hidden;
}
.skills-bottom {
  background-blend-mode: multiply;
  background-color: rgb(249, 250, 254);
  background-image: url(wave-bottom.svg);
  display: flex;
  height: 64px;
  overflow: hidden;
  width: 100%;
}
.nav-element {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  text-decoration: none;
  max-width: 320px;
  text-align: center;
  color: #24335a;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  border-radius: 10px;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 2px;
  padding: 4px;
  width: 100%;
  transition: all 0.3s;
}
.nav-element:hover {
  background: #c8dfff99;
}
.nav-menu-box {
  display: flex;
  align-items: center;
  width: 45%;
}
.nav-cta-cont {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
.JS-icon {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  border-radius: 5px;
}
.cta-btn {
  background: #c8dfff99;
  color: #7aa1e3;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
  font-weight: 700;
  padding: 12px;
  box-shadow: inset #cddbff 0px 0px 16px;
  transition: background-color 250ms ease 0s;
  width: 100%;
  max-width: 145px;
  will-change: background-color;
}
.cta-btn svg {
  width: 18px;
  height: 18px;
  margin-left: 20px;
}
.hero-btn {
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
  color: rgb(8, 27, 75);
  display: flex;
  font-weight: 600;
  margin: 10px;
  padding: 12px 24px 12px 16px;
  transition: all 0.3s ease 0s;
}
.hero-btn:hover {
  opacity: 80%;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  min-height: 500px;
}
.project-card {
  display: flex;
  flex-direction: column;

  text-decoration: none;
  -webkit-box-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
  color: rgb(8, 27, 75);
  display: flex;
  font-weight: 600;
  margin: 20px;
  width: 95vw;
  min-height: 400px;
  max-width: 245px;
  padding: 14px;
}
.project-text {
  margin: 0px;
  font-size: 14px;
}

.slider {
  width: 100%;
  display: flex;
  margin-top: 38px;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin: 32px auto;
  overflow: hidden;
  animation: 38s Marquee 0s infinite normal none;
  width: calc(3584px);
}

.backend {
  margin: 0px auto;
  margin-left: 188px;
  width: calc(3584px);
}
.nameBreak {
  display: none;
}
.slide {
  background: white;
  height: 100px;
  border-radius: 5px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.127);
}
.skills-para {
  text-align: center;
  color: #7aa1e3;
  width: 100%;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
}
.skills-para svg {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline;
}
.skills-para svg path {
  stroke-width: 2.8px;
}
@keyframes Marquee {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-2092px));
  }
}

@media only screen and (max-width: 600px) {
  .mobile-nav-menu {
    display: inherit;
  }
  .web-nav-menu {
    display: none;
  }
  .hero-title {
    font-size: 35px;
    width: 95%;
    line-height: 60px;
  }
  .nameBreak {
    display: block;
  }
  .secondary-title {
    font-size: 30px;
  }
  .hero-text {
    font-size: 14px;
    width: 90%;
  }
  .about {
    width: 100%;
    flex-direction: column;
  }
  .skills-para {
    font-size: 14px;
  }
  .cta-btn {
    padding: 8px;
    font-size: 12px;
  }
}
