:root {
  --Main: #24335a;
  --Secondary: #e2efff;
  --Tertiary: #7aa1e3;
}
body {
  padding: 0;
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  background: #fdfcff;

  overflow-x: hidden;
}
nav {
  position: fixed;
  top: 0;
  z-index: 190;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: #fbfcfd;
  box-shadow: 0px 0px 10px #868ea331;
  border-bottom: 2px solid #e3e8f4;
}
.hero {
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.hero-body {
  display: flex;
  flex-direction: column;
  margin: 68px 0px;
  position: relative;
}
.hero-title {
  text-align: center;
  width: 70%;
  color: var(--Main);
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 96px;

  margin: auto;
  transition: all 0.3s;
  margin-top: -20px;
  text-align: center;
  font-size: 74px;
}
/* .hero-title span {
  color: #a9caf8;
  font-weight: 800;
  background: -webkit-linear-gradient(15deg, #6ba1ed, var(--Tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.hero-text {
  width: 80%;
  max-width: 750px;
  margin: auto;

  text-align: center;
  font-weight: 400;
  color: #868ea3;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.8;
  font-size: 18px;
}
.about-content {
  display: flex;
  flex-direction: column;

  text-decoration: none;
  -webkit-box-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
  color: rgb(8, 27, 75);
  display: flex;
  font-weight: 600;
  margin: 20px;
  width: 90%;
  min-height: 350px;
  max-width: 245px;
  padding: 14px;
}
.about-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  height: 400px;
}
.about-img-cont img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
}
.about-text {
  font-weight: 400;
  color: #868ea3;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.8;
  font-size: 18px;
}
.hero-btn-icon {
  width: 28px;
  height: 28px;
  margin-right: 14px;
}
.hero-cta-box {
  display: flex;
  margin: auto;
  margin-top: 5px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  max-width: 580px;
}
.email-link {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 600;
  color: inherit;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  background: var(--Main);
  /* /* background-image: linear-gradient(95deg, #a9caf8, var(--Main)); */
}
.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  min-height: 700px;

  padding-bottom: 55px;
}
.about-section {
  width: 50%;
  max-width: 500px;
  display: flex;
  padding: 25px;
  flex-direction: column;
}
.about-section h2 {
  text-align: left;
}
.secondary-title {
  color: rgb(8, 27, 75);
  font-size: 38px;
  font-weight: 700;
  margin: 0px;
  letter-spacing: -1px;
  text-align: center;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  padding-top: 40px;
}
.project-hero-title {
  color: rgb(8, 27, 75);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 110%;
  margin: 0px auto;
  margin-bottom: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.project-hero-para {
  text-align: center;
  margin: 0px;
  color: #868ea3;
  width: 90%;
  font-weight: 500;
  max-width: 800px;
}
.card-btn {
  border: none;
  text-decoration: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgb(11 43 158 / 15%) 0px 6px 12px -6px;
  border: 2px solid var(--Secondary);
  color: var(--Main);
  display: flex;
  font-weight: 700;
  margin-top: 20px;
  justify-content: center;
  font-size: 12px;
  width: 80%;
  padding: 12px 14px 12px 16px;
  transition: all 0.3s ease 0s;
}
.card-btn:hover {
  background: var(--Secondary);
  color: var(--Tertiary);

  cursor: pointer;
}
.tech-cont {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: flex-start;
}
.tech {
  padding: 5px;
  font-size: 11px;
  border-radius: 4px;
  margin: 4px;
  font-weight: 400;
  box-shadow: inset #cddbff 0px 0px 16px;
  background: var(--Secondary);
  color: var(--Tertiary);
}
.img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 90%;
  margin-top: 8px;
  margin-bottom: 8px;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
  border-radius: 5px;
  box-shadow: #030d3234 0px 6px 20px -6px;
  background: whitesmoke;
}
.max-container {
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;

  margin: 0px auto;
  max-width: 85rem;
  width: 100%;
}
.socials {
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 22px;
  margin-left: 20px;
}
.web-socials {
  width: 90%;
  display: flex;
  margin-right: 20px;
  justify-content: flex-end;
}
.social-element {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: #0b2b9e26 0px 3px 10px -6px;
  border: 2px solid #e3e8f4;
  border-radius: 8px;
  width: 38px;
  height: 38px;
  transition: all 0.3s;
}
.social-element:hover {
  opacity: 90%;
  border-radius: 50%;
}

.social-element-icon {
  width: 50%;
  transition: all 0.3s;
  height: 50%;
}
.nav-link-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
}
.web-nav-menu {
  border-left: 2px solid #e3e8f4;
  display: flex;
  margin-left: 30px;
  padding-left: 10px;
  z-index: 200;
  width: 100%;
  height: 20px;
  align-items: center;
}
.mobile-nav-menu {
  width: 50%;
  display: none;
}
.Logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 65px;

  margin-left: 60px;
}
.skills-top {
  background-image: url(wave-top.svg);
  display: flex;
  background-blend-mode: multiply;
  height: 64px;
  overflow: hidden;
  width: 100%;
}
.nameBreak {
  display: none;
}
.skills-content {
  background-color: var(--Secondary);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}
.skills-bottom {
  background-image: url(wave-bottom.svg);
  display: flex;
  background-blend-mode: multiply;
  height: 64px;

  overflow: hidden;
  width: 100%;
}
.nav-element {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  text-decoration: none;
  text-align: center;
  color: var(--Main);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 600;
  margin-left: 12px;
  margin-right: 12px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.3s;
}

.nav-element:hover {
  background: #c8dfffbf;
}
.nav-menu-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}
.nav-cta-cont {
  margin-right: 20px;
  position: relative;
  display: flex;
  align-items: center;
  width: 55%;

  justify-content: space-around;
}
.JS-icon {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  border-radius: 5px;
}
.cta-btn {
  box-shadow: inset #cddbff 0px 0px 16px;
  background: var(--Secondary);
  color: var(--Tertiary);
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
  font-weight: 700;
  padding: 12px;

  transition: background-color 250ms ease 0s;
  width: 100%;
  max-width: 145px;
  will-change: background-color;
}
.cta-btn svg {
  width: 18px;
  height: 18px;
  margin-left: 20px;
}
.hero-btn {
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
  color: rgb(8, 27, 75);
  display: flex;
  font-weight: 600;
  margin: 10px;
  padding: 12px 24px 12px 16px;
  transition: all 0.3s;
}
.hero-btn:hover {
  background: #e7f2ff;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.project-card-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
  max-width: 315px;
  margin: 5px;
  padding: 10px;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #e3e8f4;
  text-decoration: none;
  -webkit-box-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
  color: rgb(8, 27, 75);
  display: flex;
  font-weight: 600;
  width: 90%;
  padding: 10px;
  padding-bottom: 20px;
}

.project-text {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background: white;
  box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
  /* border: 2px solid #e3e8f4; */
  font-size: 15px;
}

.slider-cont {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.marquee {
  animation-duration: 12s;
  justify-content: space-around;
}
.slide {
  background: white;
  height: 100px;
  border-radius: 5px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  box-shadow: 2px 2px 10px #00000020;
}

.slide img {
  width: 60px;
}
.skills-para {
  text-align: center;
  font-weight: 400;
  color: #7aa1e3;
  margin-top: 30px;
  margin-bottom: 40px;
  line-height: 1.8;
  font-size: 18px;
}
.skills-para svg {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline;
}
.skills-para svg path {
  stroke-width: 2.8px;
}
footer {
  box-shadow: 2px 2px 10px #00000020;
  background: white;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
footer p {
  font-size: 12px;
  color: grey;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0px;
}
@media only screen and (max-width: 700px) {
  .mobile-nav-menu {
    display: inherit;
  }
  .web-nav-menu {
    display: none;
  }
  .nav-link-box {
    width: 100%;
  }
  .nav-menu-box {
    display: flex;
    width: 5%;
    margin-right: 20px;
  }
  .hero-title {
    font-size: 35px;
    width: 95%;
    line-height: 60px;
  }
  .nameBreak {
    display: block;
  }
  .Tertiary-title {
    font-size: 30px;
  }
  .hero-text {
    font-size: 14px;
    width: 90%;
  }
  .about {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .socials {
    width: 100%;
  }
  .web-socials {
    width: 50%;
  }
  .social-element {
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }
  .about-content {
    max-width: 70%;
    text-align: center;
  }
  .about-section {
    width: 85%;
    text-align: center;
  }
  .about-section h2 {
    text-align: center;
  }
  .about-text {
    text-align: center;
    font-size: 14px;
  }
  .skills-para {
    font-size: 14px;
  }
  .project-card {
    margin: 4px;
  }
  .cta-btn {
    padding: 9px;

    font-size: 12px;
  }
  .slide {
    width: 80px;
    height: 80px;
  }
  .slide img {
    width: 50px;
  }
  .Logo {
    margin: 0px;
    margin-left: 25px;
  }
  .web-socials {
    width: 80%;
  }
  .nav-cta-cont {
    width: 80%;
    margin: 0px;
  }
}
